$text-color1: #0170C4;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color2: #1175B9;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color3: #217BAF;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color4: #3180A4;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color5: #41869A;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color6: #518B8F;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color7: #5C8E8E;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color8: #648D8D;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color9: #6B8D8C;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color10: #718D8C;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color11: #768D8B;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-color12: #7A8D8B;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$text-key: #2d2d2d;
$text-value: #d3d3d3;
$radius: 12px;
$bg-color: rgba(20, 20, 20, 0.76);
$accent-color: #cec4c4;

* {
  all: unset;
  opacity: 1;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 15px;
  letter-spacing: 0;

}

.fetch-window {
  border-radius: $radius;
  padding: 0;
}

.fetch-widget {
  background-color: transparent;
  border-radius: $radius;
  background-color: $bg-color;
  padding: 8px 14px 14px 14px;
  border: 2px solid #595959;
}

.fetch-container {
  border-radius: $radius;
  margin: 14px 0px 0px 0;
  padding: 0px 3px 0px 20px;
  font-weight: 500;
  font-style: oblique;
}

.key {
	color: $text-key;
	margin-bottom: 4px;
}

.value1 {
	color: $text-color4;
}

.value2 {
	color: $text-color5;
}

.value3 {
	color: $text-color6;
}

.value4 {
	color: $text-color7;
}

.value5 {
	color: $text-color8;
}

.value6 {
	color: $text-color9;
}

.value7 {
	color: $text-color10;
}

.value8 {
	color: $text-color11;
}

.value9 {
	color: $text-color12;
}

.value {
	color: $text-value;
}


.image-container {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border-radius: $radius;
  margin-top: 7px;
  padding: 0px 10px 0;
  min-height: 0px;
  box-shadow: 0px 0px 5px 5px rgba(20, 20, 20, 0.7);
}
