* {
	all: unset;
    font-family: "SourceSans3VF";
    font-weight: 600;
}

window#waybar {
    background-color: transparent;
}

/* border */
tooltip,
#tray menu {
    border: 1px solid grey;
}

/* font size | color | padding/spacing */
#tooltip label, 
#tray, 
#pulseaudio,
#pulseaudio.muted,
#custom-musicname, 
#workspaces,
#workspaces button,
#custom-ping, 
#custom-weather, 
#clock,
#custom-notificationcenter,
#custom-power {
	font-size: 16px;
	color: #ececec;
	padding: 3px 10px 3px 10px;
	border-radius: 16px;
}

/* far left */
#workspaces {
	margin: 0px 0px 0px 120px;
}

/* far right */
#custom-notificationcenter {
	margin-right: 115px;
}

/* tray */
#tray {
	margin: 0px 80px 0px 0px;
}

/* workspaces */
#workspaces button {
	font-size: 28px;
    color: #767585;
}

#workspaces button.active {
	color: #CACBE2;
}

#workspaces button.urgent {
    color: #a6e3a1;
}

/* network */
#network.disconnected {
    color: #f53c3c;
}


/* *********************************************** */


/* hover */
#pulseaudio:hover,
#custom-musicname:hover,
#workspaces button:hover,
#custom-ping:hover,
#custom-weather:hover,
#clock:hover, 
#custom-notificationcenter:hover,  
#custom-power:hover {
	opacity: 0.7;
}

/* tooltip */
tooltip {
    background: #2d2d2d;
}

tooltip label {
    padding: 8px;
}

/* tray  menu */
#tray > .active {
}

#tray menu {
	font-size: 14px;
	color: #ffffff;
	background-color: #2d2d2d;
	padding: 10px;
}

#tray menu menuitem {
	padding: 10px 10px;
}

#tray menu menuitem:hover {
	background-color: #1f1f1f;
}

#tray menu separator {
	background: #464646;
	margin: 0px 10px 0px 10px;
}
