$gradient1: radial-gradient(rgba(33, 33, 38, 1), rgba(25, 28, 31, 1));
$gradient2: radial-gradient(rgba(51, 52, 54, 0.65), rgba(33, 35, 38, 1));
$backgroundcolor: rgba(200, 200, 200, 0.65);
$backgroundcolor2: rgba(55, 55, 55, 0.65);
$color1: #e8dfd0;
$borderradius: 10px;
* {
	all: unset;
	font-family: "JetBrainsMono";
	font-size: 14px;
}

.eventbox {
	&:hover {
		background: $backgroundcolor;
		border-radius: $borderradius;
	}
}

.win {
	background: #1f1f1f;
	border-radius: $borderradius;
	padding: 10px 0px 10px 0px;
	margin: 1px;
}

.appiconbox {
	margin-left: 13px;
}

.appicon {
	background-color: transparent;
	background-size: cover;
	min-height: 50px;
	min-width: 50px;
	border-radius: 50%;
}

.infobox {
	margin-top: 2px;
}

.sender {
	font-size: 16px;
	font-weight: 500;
}

.content {
	font-weight: 500;
}

.notif-eventbox {
  background-color: rgba(25, 25, 25, 1);
  border-radius: 16px;
  margin: 10px;
}

.notificationicon {
	margin: 0px 0px 0px 16px;
	font-size: 30px;
}
.notificationlabel {
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
}

.notif-scroll {
	background: $backgroundcolor2;
	border-radius: 16px;
    padding: 9px;
}

.notif-container {

  border-radius: 16px;
}

